li {
    padding: 5px;
    margin: 5px;
    background: #eea9e4;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(71, 79, 79);
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  