<li class="burgerlist">
	{{burger_name}}
	</br>
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DEVOUR IT!{{else}}NOT DEVOURED!{{/if}}
	</button>
</li>

